:root {
    --ternium-rojo: #ff3300;
    --ternium-gris: #666666;
    --ternium-naranja: #ff9900;
    --ternium-celeste: #01688a;
    --ternium-gris-palido: #d4d4d4;
    --ternium-gris-acero: #485458;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
